@import 'var';


.price-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#kind-site {
  margin-bottom: 25px;
}

.price-form_item {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.title_calcul {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
}


.title_minicalcul {
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.price_mobile_output,
.price-form_item .mobile_sec .radio-label span,
.price-form_item .radio .radio-label span,
.price_minicalcul {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgb(148, 145, 145);
}


//.price_mobile_output,
.col_page_item .mobile_sec .radio-label .price_mobile_output,
.price-form_item .radio .radio-label .price_mobile_output {
  display: block;
  margin-left: 37px;
  white-space: nowrap;
}

.radio {
  margin: 0.5rem 0.5rem 0.5rem 0;
  width: 100%;
}

.form-group input[type='checkbox'],
.style-switcher input[type='radio'],
.mobile_sec input[type='checkbox'],
.radio input[type='radio'] {
  position: absolute;
  opacity: 0;
}

.form-group input[type='checkbox']+.css-label:before,
.style-switcher input[type='radio']+.radio-label:before,
.mobile_sec input[type='checkbox']+.radio-label:before,
.radio input[type='radio']+.radio-label:before {
  content: '';
  background: #fff;
  border-radius: 100%;
  //border: 1px solid #febd01;

  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
  top: 5px;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.style-switcher input[type='radio']+.radio-label:before {
  left: 9px;
  top: 2px;
}


.mobile_ad input[type='checkbox']+.radio-label:before {
  top: 6px;
}

.form-group input[type='checkbox']+.css-label:before {
  top: 1px;
}



.form-group input[type='checkbox']:checked+.css-label:before,
.style-switcher input[type='radio']:checked+.radio-label:before,
.mobile_sec input[type='checkbox']:checked+.radio-label:before,
.radio input[type='radio']:checked+.radio-label:before {

  box-shadow: inset 0 0 0 4px #fff;
}

.form-group input[type='checkbox']:focus+.css-label:before,
.style-switcher input[type='radio']:focus+.radio-label:before,
.mobile_sec input[type='checkbox']:focus+.radio-label:before,
.radio input[type='radio']:focus+.radio-label:before {
  outline: none;
}

// #mobile-points .radio {
//   justify-content: flex-start;
//   width: 100%;
// }

.mobile_sec {
  margin-bottom: 15px;
}

.mobile_sec label {
  font-size: 20px;
  font-weight: 500;
  /// margin-bottom: 10px;
}

.hidden {
  display: none;
}

.input_short {
  margin-bottom: 10px;
}

.dop_option label {
  font-size: 16px;
}

#cost_final {
  font-weight: 700;
  font-size: 1.8rem;
}

.price_name {
  padding-top: 20px;
}

.price_name input[type='text'] {
  -webkit-appearance: none;
  width: 100%;
  height: 36px;
  color: #818181;
  padding-left: 5px;
  border: 1px solid #ec1839;
}

.price-form_item input[type='number'] {
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 60px;
  height: 36px;
  color: #818181;
  padding-left: 5px;
}

.price-form_item input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;

  width: 20px;
  background: #fff url(../img/setas-verticais.png) center center no-repeat;
}

.price-form_item .form-group {
  margin-top: 20px;
}

.col_page_wrap {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
}

.col_page_item {
  padding-left: 3px;
  padding-right: 3px;
}

.final_cost {
  margin-top: 30px;
}

.btn_calc {
  margin-top: 20px;
}
