@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
		//		url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
		url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: fallback;
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik/rubik-bold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/Rubik/rubik-bold.woff2") format("woff2"),
		url("../fonts/Rubik/rubik-bold.woff") format("woff"),
		url("../fonts/Rubik/rubik-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}



// 100 Extra Light or Ultra Light
// 200 Light or Thin
// 300 Book or Demi
// 400 Normal or Regular
// 500 Medium
// 600 Semibold, Demibold
// 700 Bold
// 800 Black, Extra Bold or Heavy
// 900 Extra Black, Fat, Poster or Ultra Black



// 100 — тонкое начертание;
// 200 — сверхсветлое;
// 300 — светлое;
// 400 — нормальное (аналогично normal);
// 500 — среднее;
// 600 — полужирное;
// 700 — жирное (аналогично bold);
// 800 — сверхжирное;
// 900 — тяжёлое.
// https://webfonts.pro/
